<link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK"crossorigin="anonymous" > body {
    margin: 0;
}


h2 {
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-family: 'Raleway', sans-serif;

    font-weight: 600;

    font-style: normal;
}

p {
    font-family: 'Raleway', sans-serif;

    font-weight: 400;

    font-style: normal;
}





/* MENU */

nav {
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #e88d6d;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
}

button {
    background-color: #263390;
    border-style: none;
    border-radius: 50%;
    z-index: 1111;
}

.nav-toggle-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-image: url(img/burger.svg);
    background-size: cover;
}


nav ul {
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 1.5rem;

}

.nav-toggle-btn-80 {
    background-image: url(img/cross.svg);
}

.nav-20 {
    transform: translateX(0%);
    transition: ease 1s;
}

@media only screen and (min-width: 768px) {
    nav ul {
        transform: rotate(-90deg);
        display: flex;
        flex-direction: row-reverse;

    }


    nav {
        width: 10%;
    }

    nav a {
        font-size: 1.2rem;
    }
}






/*SPLASH*/

.splash-text {
    position: absolute;
}





/* INDLEDNING */


#indledning h1 {
    font-family: muli, sans-serif;
    font-style: italic;
    line-height: 2.4rem;

    text-align: center;
}

.alkohol {
    color: #314ab3;
    font-size: 3rem;
}


.isen {
    color: #c27766;
    font-size: 1.6rem;
}


@media screen and (min-width: 768px) {
    .alkohol {
        font-size: 4.5rem;
    }

    .isen {
        font-size: 2.5rem;
    }
}








/*PRODUKT*/

#produkt p {
    font-size: 1.1rem;
}



.produkt1 {
    background-color: #fff5e4;
    transition: ease 1s;
}

.produkt1_txt h2 {
    color: #314ab3;
}

.produkt1_txt p {
    color: #a67260;
}



.produkt2 {
    background-color: #f3e4ed;
    transition: ease 1s;
}

.produkt2_txt h2 {
    color: #314ab3;
}

.produkt2_txt {
    padding-top: 0;
}

.produkt2_txt p {
    color: #a65375;
}


.produkt3 {
    background-color: #fff5e4;
    transition: ease 1s;
}

.produkt3_txt h2 {
    color: #314ab3;
}

.produkt3_txt p {
    color: #be8b57;
}


.produkt4 {
    background-color: #f3e4ed;
    transition: ease 1s;
}

.produkt4_txt h2 {
    color: #314ab3;
}

.produkt4_txt p {
    color: #a65375;
}







/* SHAKE */

.shake_txt {
    color: #314ab3;
    margin-top: -12vw;
}







/* BRAND */


#brand {
    background-color: #fff5e4;
    color: #314ab3;
}

#brand h2 {
    font-family: muli, sans-serif;
}




/* FEST */

.fest_h2 {
    font-size: calc(2.3rem + 6 * ((110vw - 320px) / 680));
    color: #e88d6d;
    margin-top: -24vw;
}




/* TAG OS */

.sozialice_txt {
    font-size: calc(3rem + 6 * ((110vw - 320px) / 680));
    color: #314ab3;
}

.tag_os_txt {
    font-size: calc(1.1rem + 6 * ((110vw - 320px) / 680));
    color: #314ab3;
    text-align: center;
}

.img3 {
    margin-top: -13vw;
}

.img4 {
    margin-top: -3vw;
}

.img5 {
    margin-top: -3vw;
}

.img6 {
    margin-top: -4.5vw;
}






/* FOOTER */

footer {
    background-color: #e88d6d;
}

footer p {
    font-size: 0.8rem;
}
